<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Traffic Monitoring System</title>
</head>
<body>
    <div class="Banner">
        <h1>Traffic Monitoring System</h1>
    </div>
    <div class="ib">
        <div>
            <h3>Status: <span id="status">{{ status }}</span></h3>
        </div>
        <div class="video1">
            <img id="frame" src="{{ url_for('feed') }}"/>
        </div>
        <div class="btns">
            <!-- <form action="/play/" method="POST">
                <button name="play" type="submit">Play</button>
            </form> -->
            <!-- <form action="/pause/" method="POST">
                <button name="pause" type="submit">Pause</button>
            </form> -->
            <!-- <form action="/" method="POST">
                <button name="stop" type="submit">Stop</button>
            </form> -->
            <a href="{{ url_for('uploader') }}"><button>STOP</button></a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/myjs.js')}}"></script>
</body>
</html>