<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Traffic Monitoring System</title>
</head>
<body>
    <div class="Banner">
        <h1>Traffic Monitoring System</h1>
    </div>
    <div class="ib">
        <div class="video1">
            <img id="frame" src="{{ url_for('feed') }}"/>
        </div>
        <div class="btns">
            <button id="play" name="play" >Play</button>
            <button id="pause" name="pause">Pause</button>
            <button id="stop" name="stop">Stop</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/myjs.js')}}"></script>
</body>
</html>