<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Traffic Monitoring System</title>
  </head>
  <body>
    <div class="Banner">
      <h1>Traffic Monitoring System</h1>
    </div>
    <div class="ib">
      <div class="video1">
        <img id="frame" src="{{ url_for('feed')}}" />
      </div>
      <!-- <div>
        <h4>Summary for This session:</h4>
        <table>
            <tr><td>Total Time</td> <td>{{ summary["Total Time"]}}</td></tr>
            <tr><td>Total Vehicles</td> <td>{{ summary["Total Vehicles"]}}</td></tr>
            <tr><td>Average Vehicles/sec</td> <td>{{ summary["Average Vehicles/sec"]}}</td></tr>
            <tr><td>Max Vehicles in frame/sec</td><td>{{ summary["Max Vehicles in frame/sec"]}}</td></tr>
        </table>
      </div> -->
    </div>
      <div class="btns">
        <a href="{{ url_for('uploader') }}"
          ><button class="btn">STOP</button></a
        >
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/myjs.js')}}"></script>
  </body>
</html>
