<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Traffic Monitoring</title>

</head>
<body>
    <h1> Upload the video here</h1>
    <form action="http://localhost:5000/" method = "POST" enctype = "multipart/form-data">
        <input type="file" name="file">
        <button type="submit"> SUBMIT </button>
    </form>

    <div>
        <h4>Summary for last session</h4>
        <table>
            <tr><th>Total Time</th> <th>{{ summary["Total Time"]}}</th></tr>
            <tr><th>Total Vehicles</th> <th>{{ summary["Total Vehicles"]}}</th></tr>
            <tr><th>Average Vehicles/sec</th> <th>{{ summary["Average Vehicles/sec"]}}</th></tr>
            <tr><th>Max Vehicles in frame/sec</th> <th>{{ summary["Max Vehicles in frame/sec"]}}</th></tr>
        </table>
    </div>
</body>
</html>
